script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js")

script(type="text/javascript", src="/libs/angular-route/angular-route.js")
script(type='text/javascript', src='/libs/ui-bootstrap-tpls-0.13.4.min.js')

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/filters.js")

script(type="text/javascript", src="/app/services/appServices.js")
script(type="text/javascript", src="/app/services/dateService.js")
script(type="text/javascript", src="/app/services/categoriesService.js")
script(type="text/javascript", src="/app/services/debtsService.js")
script(type="text/javascript", src="/app/services/recordsService.js")
script(type="text/javascript", src="/app/services/appDirectives.js")


script(type="text/javascript", src="/app/controllers/DE_headerCtrl.js")

script(type="text/javascript", src="/app/controllers/indexCtrl.js")
script(type="text/javascript", src="/app/controllers/mainCtrl.js")
script(type="text/javascript", src="/app/controllers/loginCtrl.js")
script(type="text/javascript", src="/app/controllers/expensesCtrl.js")
script(type="text/javascript", src="/app/controllers/earningsCtrl.js")
script(type="text/javascript", src="/app/controllers/graphicsCtrl.js")
script(type="text/javascript", src="/app/controllers/plansCtrl.js")
script(type="text/javascript", src="/app/controllers/debtsCtrl.js")

script(type="text/javascript", src="/app/controllers/modals/upsertCategoryCtrl.js")
script(type="text/javascript", src="/app/controllers/modals/upsertRecordsCtrl.js")
script(type="text/javascript", src="/app/controllers/modals/settingsOfGraphicsCtrl.js")
script(type="text/javascript", src="/app/controllers/modals/upsertDebtCtrl.js")

script(type="text/javascript", src="/app/controllers/directives/selectPeriodDirectiveCtrl.js")
